.bl-create {
    background-image: url(../public/blog/blog-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
        background-image: none;
    }

    .bl-create-main {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        padding-bottom: 50px;
        background-color: unset;
    }

    // 麵包屑
    .breadcrumb {
        margin-block: 20px 40px;
    }


    /* 標題 */
    .blog-create-title {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .blog-input {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
            width: 100%;
        }
    }


    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 35px;

        .card-section {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 3.3% 4%;
            background: white;
            overflow: hidden;
            gap: 40px;

        }

        /* 文章封面 */
        .cover {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .image-preview-wrapper {
                width: 100%;
                position: relative;
                aspect-ratio: 16 / 9;
                overflow: hidden;
                border-radius: 10px;
                border: 1px solid lightgrey;
              
                img {
                    // object-fit: scale-down;
                    // aspect-ratio: 16 / 9;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .upload-section {
                width: 100%;
                height: auto;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 8px;
                gap: 26px;
                display: flex;
            }
        }
    }
}

// 底部按鈕
.blog-bottom-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn-group {
        display: flex;
        gap: 19px
    }
}

.blog-bottom-btn-mobile {
    display: none;

}

@media (max-width: 768px) {
    .blog-bottom-btn {
        display: none;
    }

    .blog-bottom-btn-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 12px;
        padding-block: 6px;
        background-color: #fff;


        .btn-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 0;
            padding: 10px;
            background-color: #fff;
            color:$warning;

            .icon {
                min-width: 30px;
                min-height: 30px;
                width: 100%;
            }
        }

    }
}