.bl-preview {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* 預覽框 */
.blog-preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 30px;
  padding-bottom: 50px;

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
    max-width: 1200px;
    padding-block: 30px;
    border-radius: 10px;
    padding-inline: 30px;
    margin-bottom: 30px;
    background-color: white;
  }
  .blog-post {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 850px;
    width: 100%;

    .blog-cover-container,
    .blog-content {
      max-width: 770px;
      width: 100%;
      margin: 0 auto;
    }

    /* 封面 */
    .image-preview-wrapper {
      aspect-ratio: 16 / 9;
      border-radius: 10px;
      border: 1px solid lightgrey;
      position: relative;
      background-color: #e8e8e8;

      img {
        object-fit: cover;
        aspect-ratio: 16 / 9;
        max-width: 100%;
        max-height: 100%;
      }
    }

    // .blog-cover-container {
    //     aspect-ratio: 16 / 9;
    //     background-color: #646464;
    //     overflow: hidden;
    //     display: flex;
    //     justify-content: center;
    //     margin-bottom: 2em;

    // }

    /* 帳號 */
    .blog-header {
      display: flex;
      align-items: center;

      .blog-account {
        display: flex;
        gap: 5px;
        align-items: center;
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ccc;
      }

      .text {
        margin: 0;
        color: hsla(0, 0%, 0%, 0.6);
      }

      .blog-date {
        margin-left: 1.2em;
      }
    }

    /* 內文 */
    .blog-title {
      color: #332b25;
      font-size: 32px;
      font-weight: 700;
      margin-block: 10px 30px;

      .blog-content p {
        font-size: 16px;
        line-height: 1.2em;
        color: #5b5b5b;
      }
    }

    // 標籤
    .tag-section {
      display: flex;
      align-items: stretch;
      width: 100%;
      gap: 4px;
      padding-block: 30px;

      .tag {
        padding: 4px 12px;
        color: white;
        background-color: $primary;
        border-radius: 2px;
        border: 1px solid #edf0f3;
        font-size: 14px;
      }
    }
  }
}

/* btns */
*

.button-group {
  display: flex;
  gap: 20px;
}
