.pet-onebyone {
  position: relative; /* 確保可以使用絕對定位的元素 */
  background: url('/pet/images/chatbg3.jpg') no-repeat center center;
  @media (max-width: 576px) {
    background: url('/pet/images/chatbg1.jpg') no-repeat center center;
  }
  @media (max-width: 769px) {
    height: calc(100vh - 60px);
  }
  background-size: cover;
  width: 100%;
  height: calc(100vh - 84px); /* 設置為視口高度 */
  overflow: hidden; /* 防止內部元素溢出 */
  .title {
    color: white;
  }
  //聊天框
  .chat-card {
    position: relative; /* 讓內容保持在最上層 */
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    height: 500px;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    border-radius: 20px;
    ul {
      list-style-type: none; /* 去除標記 */
      padding-left: 0; /* 如果有內邊距，也可以去除 */
      margin-left: 0; /* 如果有外邊距，也可以去除 */
    }
    li {
      width: fit-content; /* 根據內容自適應寬度 */
      background: white;
      border-radius: 20px;
    }
  }

  .testfrom {
    padding: 1rem 1rem 1rem 3rem;
  }
  .testsend {
    padding: 1rem 3rem 1rem 1rem;
  }
  .avatarfrom {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    top: -1rem;
    left: -1rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  }
  .avatarsend {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    top: -1rem;
    right: -1rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  }
}
.pet-onebyone::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.testsend,
.testfrom {
  word-break: break-word; /* 或使用 break-all 根據需要選擇 */
  white-space: pre-wrap; /* 保留換行符號並自動換行 */
}
//列表
.chat-list {
  position: relative; /* 讓內容保持在最上層 */
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  height: 800px;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 20px;
  .online-status{
    top:0.5em;
    left:0.8rem;
  }
  ul {
    list-style-type: none; /* 去除標記 */
    margin: 0;
    padding: 0;
    max-height: 100%;
    .active {
      background: $warning;
    }
  }
  li {
    background: $primary;
    color: white;
    border-radius: 20px;
    margin: 0;
  }
  li:hover {
    background: $warning;
  }
  .avatar {
    border-radius: 50%;
    object-fit: cover; /* 確保裁剪且不變形 */
  }
  .little-time {
    font-size: 12px;
  }
}
@media (max-width: 762px) {
  .chat-list {
    position: absolute;
    left: -13rem;
    top: 5rem;
    transition: left 0.3s ease; /* 平滑滑動效果 */
    z-index: 5;
  }
  .chat-list:hover {
    background: rgba(0, 0, 0, 0.8);
    left: 0; /* 將元素移回畫面內 */
  }
}
