.catClick{
    cursor: pointer;
    svg{
      margin-bottom: 5px;
    }
}
.category-detail {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.8s ease; 
  }
  
  .category-detail.open {
    max-height: 180px; 
  }