.bl-banner {
    width: 100%;
    height: 11.25rem;
    position: relative;
    color: #f5f5f5;
    margin-block: auto;
    .image-container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1920px;
      max-height: 11.25rem;
      overflow: hidden;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
    
    .banner-title {
      position: relative;
      z-index: 2;
      line-height: 11.25rem;
    }
  }
  
